/* DateAdmin.css */
.DateAdmin-text {
  font-family: 'Kanit';
  font-weight: 1000;
  font-size: 20px;
}

.DateAdmin-text2 {
  font-family: 'Kanit';
  font-size: 14px;
  margin-top: -15px;
}

.custom-date-picker-container {
  display: flex;
  align-items: center;

}

.icon-date {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.DateAdmin-text3 {
  font-family: 'Kanit';
  font-size: 12px;
  margin-bottom: 0px;
  margin-left: 50px;
}

.custom-date-picker {
  font-family: 'Kanit';
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  width: 120px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #000;
}

.custom-time-picker {
  font-family: 'Kanit';
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #000;
}

.custom-date-picker-all {
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.custom-date-picker-all2 {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.Down-picker {
  margin-top: 30px;
}


.text-header {
  font-family: 'Kanit';
  font-size: 13px;
  color: #127151;
  background: #ffffff;
  padding: 2px 5px;
  top: 205px;
  left: 395px;
  border-radius: 5px;
  border-color: #127151;
  border-style: dashed;



}

.column-date {
  display: flex;
  margin-left: 60px ;
}

/* ให้ข้อมูลข้างในเริ่มต้นจากด้านซ้าย */
.column-date .inner-content {
  justify-content: flex-start;
}



.line {
  width: 60%;
  height: 2px;
  background-color: #CBC8C8;
  margin-top: 50px;
  margin-bottom: 50px;

}

.left {
  margin-left: 60px;
  margin-top: 70px;
}

.turnleft-all {
  position: relative;
  left: 350px;
  margin-top: 128px;
}

.ant-picker-suffix {
  display: none;
}




.time-slot {
  background-color: #459991;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

}



.time-slot2 {
  background-color: #d5838a;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

}


.time-info {
  margin-left: 20px;
  font-family: kanit;
  font-size: 14px;
  color: white;
}

.time-label {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 1px 3px;
  font-family: kanit;
  background: #93aa89;
}

.time-labe2 {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 1px 5px;
  font-family: kanit;
  background: #994545;

}


.time-labe3 {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 1px 10px;
  font-family: kanit;
  background: #ffffff;
  color: #459991;
  width: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
}



.container-time {
  width: 650px;
  /* กำหนดความกว้างของกล่อง */
  height: 450px;
  /* กำหนดความสูงของกล่อง */
  background-color: rgb(255, 255, 255);
  /* ตั้งสีพื้นหลังของกล่องเป็นสีขาว */
  border-radius: 20px;
  /* เพิ่มมุมโค้งให้กับขอบของกล่อง */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  /* เพิ่มเงา */

}

.container-time2 {
  width: 650px;
  /* กำหนดความกว้างของกล่อง */
  height: 620px;
  /* กำหนดความสูงของกล่อง */
  background-color: rgb(255, 255, 255);
  /* ตั้งสีพื้นหลังของกล่องเป็นสีขาว */
  border-radius: 20px;
  /* เพิ่มมุมโค้งให้กับขอบของกล่อง */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  /* เพิ่มเงา */

}


.teacher {
  text-decoration: underline;
  display: inline;
}


.blankspace {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);

}



.dropdown-boxbox {
  width: 395px;
  height: 100px;
  background-color: #fff;
  border: 2px solid #4a5b6a; /* เส้นขอบ */
  border-radius: 8px;
  box-shadow: inset 0 0 2px rgba(126, 130, 133, 0.5); /* เงาใน */
  margin-left: 115px;
  padding: 5px;
}

.dropdown-containerja select {
  width: 120px;
  height: 32px;
  border: 1px solid #ccc; /* เส้นขอบ */
  border-radius: 5px; /* มนต์ขอบโค้ง */
  padding: 5px; /* ระยะห่างภายใน */
  background-color: #f9f9f9; /* สีพื้นหลัง */
}

.dropdown-containerja select:hover {
  border-color: #aaa; /* เส้นขอบเมื่อนำเมาส์ไปชี้ */
}

.dropdown-containerja select:focus {
  outline: none; /* ลบเส้นขอบเมื่อได้รับการเลือก */
  border-color: #007bff; /* เส้นขอบเมื่อได้รับการเลือก */
}


.dropdown-containerja a {
  font-size: 13px;
  margin-bottom: 5px; /* ระยะห่างข้างล่าง */
  display: block; /* ให้เป็นบล็อก */
}

.dropdown-containerja {
  margin-left: 86px;
}

.dropdown-containerja select:hover {
  background-color: #f0f0f0; /* เปลี่ยนสีพื้นหลังเมื่อ hover */
  cursor: pointer; /* เปลี่ยน cursor เมื่อ hover */
}

.dropdown-containerja a:hover {
  text-decoration: underline; /* เพิ่มขีดเส้นใต้เมื่อ hover ที่ลิงค์ */
}

.custom-date-picker::placeholder {
  font-size: 13px;
}