/* DateAdmin.css */
.DateAdmin-text {
  font-family: 'Kanit';
  font-weight: 1000;
  font-size: 20px;
}

.DateAdmin-text2 {
  font-family: 'Kanit';
  font-size: 14px;
  margin-top: -15px;
}

.custom-date-picker-container {
  display: flex;
  align-items: center;

}

.icon-date {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.DateAdmin-text3 {
  font-family: 'Kanit';
  font-size: 12px;
  margin-bottom: 0px;
  margin-left: 50px;
}

.custom-date-picker {
  font-family: 'Kanit';
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  width: 120px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #000;
}

.custom-time-picker {
  font-family: 'Kanit';
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #000;
}

.custom-date-picker-all {
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.custom-date-picker-all2 {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.Down-picker {
  margin-top: 30px;
}


.text-header{
  font-family: 'Kanit';
  font-size: 13px;
  color: #127151;
  background: #ffffff;
  padding: 2px 5px;
  top: 205px;
  left: 395px;
  border-radius: 5px;
  border-color: #127151;
  border-style: dashed;
 


}


.column-date{
  display: flex; /* ใช้ Flexbox เพื่อจัดวางแถว */
  justify-content: 60px; /* จัดวางระยะห่างระหว่างองค์ประกอบในแนวนอน */
  align-items: center; /* จัดวางตามแนวดิ่งให้กลางแถว */
}



.line {
  width: 60%;
  height: 2px;
  background-color:  #CBC8C8;
  margin-top: 50px;
  margin-bottom: 50px;

}

.left{
  margin-left: 60px;
  margin-top: 70px;
}

.turnleft-all{
  position: relative;
  left: 350px;
  margin-top: 128px;
}

.ant-picker-suffix {
  display: none;
}




.time-slot {
  background-color: #459991;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

}



.time-slot2 {
  background-color: #d5838a;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

}


.time-info {
  margin-left: 20px;
  font-family: kanit;
  font-size: 14px;
  color: white;
}

.time-label {
  display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 1px 3px;
    font-family: kanit;
    background: #93aa89;
}

.time-labe2 {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 1px 5px;
  font-family: kanit;
  background: #994545;

}


.container-time{
  width: 580px; /* กำหนดความกว้างของกล่อง */
  height: 400px; /* กำหนดความสูงของกล่อง */
  background-color: rgb(255, 255, 255); /* ตั้งสีพื้นหลังของกล่องเป็นสีขาว */
  border-radius: 20px; /* เพิ่มมุมโค้งให้กับขอบของกล่อง */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */

}

.teacher {
  text-decoration: underline;
  display: inline;
}


.blankspace{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255); 

}