.Room-Items-open {
    display:flex;
    align-items: flex-start;
    /* justify-content: space-between; */
     /* จัดแถบสถานะทางซ้ายสุด */
    width: 850px;
    /* background-color: #127151; */
    font-family: 'kanit';
    justify-content: center;
    font-size: 20px;
}

.Room-Items-open .checkbox-text {
    font-size: 15px;
    display: flex;
    width: 500px;
    height: 60px;
    font-family: 'kanit';
    justify-content: center; 
    align-items: center;

     /* ทำให้ข้อความขยายตามพื้นที่ */
     /* background-color: aquamarine; */
}

.Room-Items-open .checkbox-text2 {
    font-size: 20px;
    display: flex;
    width: 500px;
    height: 60px;
    font-family: 'kanit';
    justify-content: center; 
    align-items: center;
    background-color: #CCDCD7;
}


.Room-Items-open .checkbox-text3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;  


}
.CheckboxOpenRoom-NewBox {
    background-color:#CCDCD7; /* สีพื้นหลังเป็นสีเทา */
    width: 90%; /* กำหนดความกว้าง */
    height: 400px; /* กำหนดความสูง */
    margin-top: 20px; /* กำหนดระยะห่างด้านบน */
    margin-left: 23px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(85, 95, 85, 0.1);
}
.CheckboxOpenRoom-NewBox {
    display: flex;
    align-items: 10px;
    max-height: 300px; /* ปรับความสูงสูงสุดตามที่ต้องการ */
    overflow-y: auto;
    
}

.CheckboxOpenRoom-NewBox input[type="checkbox"] {
    margin-right: 5px;
}

.CheckboxOpenRoom-NewBox .checkbox-text {
    font-size: 16px;
    cursor: pointer;
    
}

.turnleft-all{
    position: relative;
    left: 350px;
    margin-top: 128px;
  }

.row {
    display: flex;
    justify-content: center;
    /* จัดให้ข้อความอยู่ตรงกลางตามแนวนอน */
    align-items: center;
    /* จัดให้ข้อความอยู่ตรงกลางตามแนวตั้ง */
    background-color: #D9D9D9;
    /* กำหนดสีพื้นหลังเป็นสีเทา */
    height: 50px;
}

.row1 {
    flex-basis: calc(51% - 10px);
    /* ความกว้างของแต่ละคอลัมน์ */
    padding: 1px;
    border: 1px solid #000;
    /* เส้นขอบของแต่ละคอลัมน์ */
    background-color: #ffffff;
    display: flex;
    /* ทำให้เนื้อหาอยู่ในคอลัมน์เรียงตรงกลาง */
    align-items: center;
    /* จัดให้เนื้อหาอยู่ตรงกลางในแนวตั้ง */
    justify-content: center;
    /* จัดให้เนื้อหาอยู่ตรงกลางในแนวนอน */

}